{%extends 'base.html' %}
{%block content%}
<div class="container">
    <br>
    <div class="card text-dark">
        <h5 class="card-header">Detail</h5>
        <div class="card-body">
        <h5 class="card-title">{{note.title}}</h5>
        <p class="card-text">{{note.note}}</p>
        <hr class="bg-dark">
        <div class="row">
            <h5 class="col-md-6"><a class="text-decoration-none text-success" href="">Update Post</a></h5>
            <h5 class="col-md-6"><a class="text-decoration-none text-danger" href="">Delete Post</a></h5>
        </div>
    </div>
    </div>
</div>
{%endblock%}