{%extends 'base.html' %}
{%load static%}
{%block content %}

  <body class="bg-dark">
        <div class="container">
            <h3 class="text-white text-right">Hello {{user}}</h3>
            <h2 class="text-white">NOTES</h2>
            <br>
            <div class='row' justify-content-between>
                {%for note in user_note%}
                <div class="col-md-4">
                    <div class="card text-dark" style="width: 18rem;">
                        <br>
                        <div class="card-body">
                        <h2 class="card-title"><a class="text-decoration-none nounderline" href="{%url 'note_detail' note.pk %}">{{note.title}}</a></h2>
                        <p class="card-text">{{note.note | truncatechars:30}}</p>
                        <div class="card-footer ">
                            <div class="text-muted">
                                {{note.date}}
                            </div>
                            <br>
                            {%if note.status == 1 %}
                                <form action="{%url 'starred_notes' note.pk %}" method="POST">
                                    {%csrf_token%}
                                    <button type="submit" name='note_id' value="{{note.id}}" class="btn btn-warning float-right"><img width="20px" src="{%static 'star.png'%}" alt="icon star"></button>
                                </form>
                            {%else%}
                                <form action="{%url 'starred_notes' note.pk %}" method="POST">
                                    {%csrf_token%}
                                    <button type="submit" name='note_id' value="{{note.id}}" class="btn btn-dark  float-right"><img width="20px" src="{%static 'star.png'%}" alt="icon star"></button>
                                </form>
                            {% endif %}
                        </div>
                        </div>
                    </div>
                    <br>
                </div>
                {%endfor%}
            </div>
        </div>
  </body>
{% endblock %}